# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# .NET Core
project.lock.json
artifacts/
**/Properties/launchSettings.json

# Rider
.idea/

# Logs
*.log

# Test results
TestResults/

